<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>905494068973-qh1tr249v3s7f9lgj3mrbc35nksk13fq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.905494068973-qh1tr249v3s7f9lgj3mrbc35nksk13fq</string>
	<key>API_KEY</key>
	<string>AIzaSyCQ8Sc4Y-d6flLiDOPKp0a507sIRZ9Q2ew</string>
	<key>GCM_SENDER_ID</key>
	<string>905494068973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hafied.Firebase-Auth-Swift</string>
	<key>PROJECT_ID</key>
	<string>fir-test-19d4a</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-test-19d4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:905494068973:ios:370452dc284a4cf038d6e4</string>
</dict>
</plist>